# Ignore compiled files and temporary caches
__pycache__/
*.pyc
*.pyo
*.log
*.tmp

# Ignore model & embedding files
*.pkl

# Ignore images and test media
*.jpg
*.png

# Ignore VS Code workspace files
.vscode/
*.code-workspace

# Ignore test or experimental folders
Face_recognition/
GUI_enabled/
MTCNN_Multithread.py
MTCNN_Multithread_GPU.py
MTCNN_Multithread and multiprocessing.py
MTCNN_model_image_detection.py
MTCNN_model_live_detectio.py
check.py

# Keep these
!.gitignore
!cctv_core/
!README.md
!requirements.txt
